<!DOCTYPE html>
<html>
<head>
    <title>PerfectPlant</title>
</head>
<body>
    <h1>Welcome to PerfectPlant</h1>
    <p><a href="/vulnerable/login">Vulnerable Login</a></p>
    <p><a href="/secure/login">Secure Login</a></p>
</body>
</html>